<!DOCTYPE html>
<html>
    <head>
        <title>[Paint] Gaffwall</title>
        <link rel="stylesheet" type="text/css" href="/example.css" />
	<!--
        <link rel="stylesheet" type="text/css" href="/fullcalendar.css" />
        <link rel="stylesheet" type="text/css" href="/facebox.css" />
	-->
	<style>

	</style>
    </head>
    <body>

    <form action="paint/save" method="post">
    <!--<div id="canvas" style="background-color:white;border:1px solid black;width:800px;height:800px;"></div>-->
    <canvas width="800" height="800" style="background-color:white;border:1px solid black;width:800px;height:800px;" id="canvas"></canvas>
    
    <div><input type="submit" value="Save doodle"></div>
    </form>
    
<script type="text/javascript" src="/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/paint.js"></script>

    </body>
</html>
