<!DOCTYPE html>
<html>
    <head>
        <title>Gaffwall</title>
        <link rel="stylesheet" type="text/css" href="/example.css" />
	<!--
        <link rel="stylesheet" type="text/css" href="/fullcalendar.css" />
        <link rel="stylesheet" type="text/css" href="/facebox.css" />
	-->
	<style>

.compass .chevron, .compass .fore {
  stroke: #666;
}

#map {
  background: #132328;
}

#logo {
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

#copy {
  width: 33%;
  color: #ccc;
  pointer-events: none;
}
	</style>
    </head>
    <body>

    <div id="map" style="width:800px;height:800px;"></div>
    <form><button class="doodle">Doodle now!</button>
    <input id="r" name="r" type="hidden">
    <input id="lon" name="lon" type="hidden">
    <input id="lat" name="lat" type="hidden">
    </form>
    
<script type="text/javascript" src="/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/polymaps/polymaps.js"></script>
<script type="text/javascript" src="/map.js"></script>

    </body>
</html>
